.flex-item,
.flex-item > button,
#nav-maker > button,
.grid-tile {
    border: 1px solid;
    border-radius: 4px;
}

#button-container,
.menubar-btn {
    border: none;
    outline: none;
}

.grid-tile { border-radius: 0; }
