body {
    background-color: #293134;
}

body * {
    color: #E0E2E4;
}

button {
    background-color: #7D8C93;
}

#menu-bar {
    background: #616161;
}

.menubar-btn {
    background: transparent;
}

.menubar-btn:hover {
    background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
    background: rgb(255, 0, 0);
}

.flex-item,
.flex-item * {
    border-color: #E0E2E4;
}
