body {
    background-color: #293134;
}

body * {
    color: #E0E0E0;
}

button,
#level-border {
    background-color: #7D8C93;
}

#menu-bar {
    background: #616161;
}

.menubar-btn {
    background: transparent;
}

.menubar-btn:hover {
    background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
    background: rgb(255, 0, 0);
}

.custom-level {
    background-color: blueviolet;
}

.flex-item,
.flex-item *,
.grid-tile,
#tiles-picker {
    border-color: #E0E0E0;
}

.dif-level {
    border-color: #E0E0E0 !important;
    color: gray;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.save-slot {
    border-color: #E0E0E0 !important;
    color: #E0E0E0;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.easy {
    background-color: #5E8C32;
}

.easy > button {
    background-color: #93C763;
}

.medium {
    background-color: #B98F00;
}

.medium > button {
    background-color: #FFCD22;
}

.hard {
    background-color: #974B00;
}

.hard > button {
    background-color: #EC7600;
}

.save {
    background-color: #0076EC;
}

.save > button {
    background-color: #004B97;
}

#timer {
    color: rgb(0, 255, 65);
    background-color: black;
    border-top-color: #808080;
    border-right-color: #202020;
    border-bottom-color: #202020;
    border-left-color: #808080;
}

.text-infobox span,
form * {
    color: gray;
}
