/* ------------ Top Menu ------------ */

#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    -webkit-app-region: drag;
}

#menu-bar > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar-btn {
    -webkit-app-region: no-drag;
    height: 100%;
    padding: 0 15px;
}

#minimize-btn i {
    vertical-align: super;
}