.container {
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    overflow: auto;
}

#leaderboard * {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

#leaderboard thead * {
    font-weight: bold;
}
