body {
    background-image: url("../assets/background.png");
}

#tiles-picker {
    position: absolute;
    bottom: 0px;
    left: 265px;
    height: 50px;
    width: 500px;
    box-sizing: border-box;
}

.icons {
    display: inline-block;
    padding: 0px;
    height: 32px;
    width: 32px;
    border: none;
    background: none;
}

#level-border {
    position: absolute;
    left: 50px;
    top: 80px;
    height: 640px;
    width: 960px;
}

.grid-tile {
    position:absolute;
    padding: 0px;
    border: 1px red solid;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
}