body {
    background-image: url("../assets/background.png");
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#tiles-picker{
    height: 50px;
    width: 500px;
    border: 1px red solid;
    position: absolute;
    bottom: 0px;
left: 265px;
}